doctype
html
    head
        meta(charset="utf-8")
        title #{title}
    body
        h1 #{title}
        .container
            .row
                each item in movies
                    .col-md-2
                        .thumbnall
                            a(href='/movie/#{item._id}')
                                img(src="#{item.poster}", alt="#{item.title}")
                            .caption
                                h3 #{title}
                                p: a.btn.btn-primary(href='/movie/#{item._id}', role='button')
                                    观看预告片